.dropdown-menu{
    margin-left: -20px;
}

.d-flex{
    margin-right: 800px;
}

.nav-link{
    color: black;
}

.col-2{
    padding-bottom: 550px;
}

.containera{
    background-color: lightgray;
}